/* :root {
 
} */

body {
    background-color: rgb(16, 3, 19);
    color: white;
    font-family: 'Lobster Two', cursive;
    margin: 0;
    padding: 0;
    
    background-image: url(images/blurry-gradient-haikei.png);
    background-size: cover;
}

.animated-text{
    z-index: 1;
    color: #fff;
    /* position: absolute; */
    margin-top: 100px;
    
    padding: 0 80px;
    height: 120px;
    overflow: hidden;
    align-content: center;
}

.line{
    
    text-align:center;
    font-size: 80px;
    line-height: 120px;
    font-family: 'Lobster Two', cursive;
    
    font-weight: 600;
    background: linear-gradient(to right, #b1fffb, #fbf600);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.line:first-child{
    animation: anim 18s infinite;
}

@keyframes anim {
    0%{margin-top: 0;}
    16%{margin-top: -120px;}
    33%{margin-top: -240px;}
    50%{margin-top: -350px;}
    66%{margin-top: -240px;}
    82%{margin-top: -120px;}
    100%{margin-top: 0;}
}

@media (max-width: 768px) {
    .navbar-container {
        max-width: 100%; /* Adjust the width to 100% for smaller screens */
        padding: 0 10px; /* Adjust the container padding */
    }
    nav {
        border-radius: 20%;
    }

    .bio-body {
        text-align: center;
        margin: 0 auto;
        max-width: 80%;
    }
    .line {
        text-align: center;
        font-size: 18px;
    }

    .landing-image-left,
    .landing-image-right {
       
        /* width: 20%; */
        /* mask-image: none; */
        height: auto;
    }
}

.bio-header {
    
    align-items: center;
    margin-left: 568px;
    margin-top: 125px;
    z-index:2;
}

.bio-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color:aliceblue;
    font-size: 22px;
}

.split-container {
    display: flex;
    justify-content: space-between;
    height: 0px;
    position: relative;
    max-width: 100%;
    
}

.landing-image-left,
    .landing-image-right {
       position: absolute;
        top: 0;
        bottom: 0;
        height: auto;
    }

.landing-image-left {
    position: absolute;
    height:500px;
    mask-image: linear-gradient(to left, 
    rgba(0,0,0,0), 
    rgba(0,0,0,0.5)
    );
    mask-position: left;
    z-index: 1;
    
}

.landing-image-right {
    position: absolute;
    height: 500px;
    mask-image: linear-gradient(to right, 
    rgba(0,0,0,0), 
    rgba(0,0,0,0.5));
    z-index:1;
    right: 0;
}

.title {
    margin-left: 230px;
}

.gradient-text-login {
background: linear-gradient(to right, #8c69d8, #ecf3f9);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
margin-left: 350px;
margin-top: 50px;
z-index: 1;
}

.navbar {
    background-color:rgba(7, 15, 61, 0.804);
    border-radius: 20px;
    padding: 1px;
    
}

.navbar-container {
    max-width: 340px;
    margin: 0 auto;
    
}

.nav-link.navbar-text {
    color: white;
    margin-right: 20px;
}

.navbar-nav .nav-item .nav-link.active.navbar-text {
    color: white;

  }

.navbar-nav {
    justify-content:center;
    margin-right: 20px;
}

.card {
   opacity: 1;
    margin-top: 100px;
    height: 300px;
    z-index: 2;
    transition: transform 1s;
    /* transform: translateX(-100%);
    transition: all 1s; */
}

.show {
    opacity: 1;
    margin-top: 100px;
    height: 300px;
    z-index: 2;
    /* transform: translateX(0);   */
  }

.card-container {
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 100px;  
}

#cap-card {
    background-color:rgb(241, 182, 220);
    
}


#banking-card {
    margin-left: 80px;
    background-color:rgb(167, 197, 224);
}


.card-title {
    font-size: 50px;
    text-align: right;
    line-height: 5px;
}

.card-text {
    text-align: right;
}

  .card:hover {
    transform: translateY(-15px)
  }

  .coin {
    width: 100px;
    height: 100px;
    position: relative;
    perspective: 1000px;
    margin-left: 130px;
    margin-top: 50px;
    transition: transform 0.5s ease-in-out;
  }
  
  .side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    background-color: gold;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
  }
  
  .coin .heads {
    transform: rotateY(0);
  }
  
  .coin .tails {
    transform: rotateY(180deg);
  }
  
  .coin:hover .heads {
    transform: rotateY(180deg);
  }
  
  .coin:hover .tails {
    transform: rotateY(360deg);
  }
  
  
  .coin.hovered {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from { transform: rotateY(0); }
    to { transform: rotateY(360deg); }
  }


